<div class="mat-dialog-container">
  Welcome to {{title}}

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Period" [(ngModel)]="period" name="period">
    </mat-form-field>
    <button (click)="getCandles()" mat-button>Get candles</button>
  </form>
  <div *ngIf="avaible" class="container" style="margin-top:90px">
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-body" *ngFor="let c of candles">
          <legend><h3>{{c.time}}</h3></legend>
        </div>
      </div>
    </div>
  </div>

</div>


